@charset "utf-8";

/* CSS fade */




/*==============================================================

	CSS tuned by Atsushi Kikushima 
	tuned at 2011/07/30

==============================================================*/








/*==============================================================

	Parts 

==============================================================*/


/* Common ===============================*/

#windowFade {
	position:absolute; /* ie6 */
	top: 0px;
	left: 0px;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 9999;
}

#windowFade2 {
	position:absolute; /* ie6 */
	top: 0;
	left: 0px;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 9999;
}
